body{
 font-family: 'Poppins', sans-serif;
 background: linear-gradient(to right, rgb(0, 0, 0), rgb(119, 0, 255));
 display: flex;
 justify-content: center;
 align-items: center;
 height: 100vh;
 margin: 0;
}

.card{
    animation: fadeInUp 0.6s ease-out;
    width: 350px;
    background-color: rgb(24, 0, 61);
    border-radius: 25px;
    box-shadow: 0px 4px 10px black;
    overflow: hidden;
    transition: transform 0.3s ease-in-out;
}

@keyframes fadeInUp {
  from { opacity: 0; transform: translateY(40px); }
  to { opacity: 1; transform: translateY(0); }
}

.card:hover{
    transform: translateY(-30px) scale(1.05);
    box-shadow: 0px 10px 20px rgb(155, 89, 194);
}

.card__image{
    width: 100%;
    height: auto;
    display: block;
}

.card__content{
    padding: 15px;
    text-align: center;
}

.card__content__title{
    font-size: 1.5rem;
    color: white;
    margin: 0 0 10px 0;
    text-shadow: 0px 2px 20px black;
    background: linear-gradient(90deg, #ff00ff, #00ffff);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.card__content__description{
    font-size: 1rem;
    line-height: 1.5;
    color: lightgray;
    text-shadow: 0px 1px 3px black;
    margin: 0 0 15px 0;
}

.card__actions{
    padding:  0 20px 20px;
    display: flex;
    justify-content: center;
    gap: 30px;
}

.card__button{
    flex-grow: 1;
    padding: 10px;
    border: none;
    border-radius: 15px;
    cursor: pointer;
    font-size: 1rem;
    transition: background-color 0.3s ease;
    background: linear-gradient(90deg, #360c36, #8000ff);
    transition: all 0.3s ease;
}

.card__button--primary{
    background-color: rgb(121, 7, 115);
    color: white;
}

.card__button--primary:hover{
    background: linear-gradient(90deg, #00127a, #3d023d);
    transform: scale(1.05);
    box-shadow: 0px 4px 15px rgb(199, 58, 255);
    text-shadow: 0px 2px 5px black;
}

.card__button--secondary{
    background-color: rgb(121,7,115);
    color: white;
}

.card__button--secondary:hover{
 background: linear-gradient(90deg, #0e77bd, #ff00ff);
  transform: scale(1.05);
    box-shadow: 0px 4px 15px rgb(0, 247, 255);
    text-shadow: 0px 2px 5px black;
}

